<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>index</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../dist/fel.js"></script>
		<script type="text/javascript">
			var Application = fel.core.Application.extend({
				__init__: function(){
					var self = this;
					$(document).on("ready", function(){
						var templates = {};
						$('script[type="text/x-template"]').each(function(index, item){
							el = $(item);
							name = el.attr("data-name");
							content = el.html();
							templates[name] = content;
						});
						translations = {
							ru: {
								"main": "главная",
								"hello, {0}": "привет {0}"
							}
						};
						self.options = {
							application: {
								autostart: true
							},
							views: {
								templates: templates,
								translations: translations
							},
							events: {
								"application.after_start": function(app){ console.log("app started!"); }
							}
						};
						self.start();
						console.log(app.viewer.templates.main_page());
						console.log("tr", app.translator.translate("hello, {0}", "Stas"));
						console.log("tr", fel.views.Translator().translate("hello, {0}", "Stas"));
					});
				}
			});
			window.app = new Application();
			console.assert(app === new Application());
			var Cl = fel.core.Singleton.extend({
				__init__: function(name){
					console.log("base init", name);
				}
			});
			var Cl2 = Cl.extend({
				__init__: function(name, age){
					console.log("child init", name, age, this.instance);
				}
			});
			var c = new Cl2("stas", 24);
			console.assert(c === new Cl2("boris", 22));
		</script>
		<script data-name="page" type="text/x-template">
			{%block before_page %}{%endblock%}
			<div id="{{page_id}}" data-role="page">
				<div data-role="header" data-position="fixed" style="text-align: center;">
					{%block header %}{% endblock %}
				</div>
				<div data-role="content">
					{%block content %}{% endblock %}
				</div>
				<div data-role="footer" data-position="fixed">
					{%block footer %}{% endblock %}
				</div>
			</div>
			{%block after_page %}{%endblock%}
		</script>
		<script data-name="main_page" type="text/x-template">
			{%extends "page" %}
			{% set page_id = "main_page" %}
			{%block header %}
				<h3>Лого{{"main"|trans}}</h3>
			{% endblock %}
			{%block content %}
			    <ul data-role="listview">
			        <li data-icon="false"><a href="#">Home</a></li>
			        <li data-icon="false"><a href="#">About </a></li>
			        <li data-icon="false"><a href="#">Portfolio </a></li>
			        <li data-icon="false"><a href="#">Contact </a></li>
			    </ul>
			{%endblock%}
			{%block footer %}{% endblock %}
		</script>
	</head>
	<body>
		lala
	</body>
</html>
